@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto';
}

.homePicture {
  width: 100vw;
  height: 80vh;
  padding: 0;
  margin: 0;
}

.home-welcome {
  width: 100vw;
  padding: 0;
  margin: 0;
}

h2 {
  color:black;
  font-size: 30px;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

h3{
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
}

input, select {
  height: 45px;
  font-size: 20px;
  box-sizing: border-box;
  width: 30%;
}

header {
  width: 100vw;
  height: 75px;
  background-color: #800000;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 80px; */
  box-sizing: border-box;
  padding: 0px 35px;
}
.header-logo{
  font-size: 40px;
  width: 50%;
  font-family: 'Pacifico';
  color:white
}

.nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
}
.nav-btn{
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  flex-direction: row;
  height: 45px;
  min-width: 50px;
  box-sizing: border-box;
  margin-right: 50px;
  border-radius: 5px;
}

.home-welcome{
  width:100vw;
  height: 400px;
  text-align: center
}
.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  text-align: center;
  width: 100vw;
  height: 50vh;
  color: black;
  font-size: 30px;
}

.account-screen{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login{
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.login-input{
  width: 300px;
  padding: 10px;
  margin: 10px;
}

button {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  margin: 10px;
}

.create-account-form{
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.create-account-input{
  width: 300px;
  padding: 10px;
  margin: 10px;
}
.search-screen{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.search-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-input{
  margin-right: 20px;
  width: 300px;
}
.state-select{
  text-align: center;
  width: 120px;
}

.restaurantMain{

  margin-top: 50px;
  display: block;
}

.restaurant-header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.addRestaurant{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}