@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html {
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #dccca3ad;
  font-family: 'Roboto';
}

.homePicture {
  width: 100vw;
  height: 80vh;
  padding: 0;
  margin: 0;
}

.home-welcome {
  width: 100vw;
  padding: 0;
  margin: 0;
}

a {
  color:#247BA0;
}
a:hover {
  color:#DCCCA3;
}

h1{
  font-size: 75px;
  font-family: 'Satisfy';
  color:#800000;
  text-shadow: #247BA0 5px 5px 5px;
  font-weight: bold;
}

h2 {
  color:black;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: 'Merienda';
}

h3{
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
}

h4{
  font-size: 40px;
  font-weight: bold;
  font-family:'Courgette';
}
h5{
  font-size: 15px;
  font-weight: bold;
}

input, select {
  height: 45px;
  font-size: 20px;
  box-sizing: border-box;
  width: 30%;
}

header {
  width: 100vw;
  height: 75px;
  background-color: #800000;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 80px; */
  box-sizing: border-box;
  padding: 0px 35px;
}
.header-logo{
  font-size: 40px;
  width: 50%;
  font-family: 'Pacifico';
  color:white
}

.nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
}
.nav-btn{
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  flex-direction: row;
  height: 45px;
  min-width: 50px;
  box-sizing: border-box;
  margin-right: 50px;
  border-radius: 5px;
  font-family: 'Courgette';
}

.nav-btn:hover{
  border: #247BA0 solid 2px;
  box-shadow: #247BA0 2px 2px 2px;
  color:#247BA0;
}

.home-welcome{
  width:100vw;
  height: 400px;
  text-align: center
}
.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  text-align: center;
  width: 100vw;
  height: 50vh;
  color: black;
  font-size: 30px;
}

.account-screen{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login{
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.login-input{
  width: 300px;
  padding: 10px;
  margin: 10px;
}

button {
  width: 150px;
  height: 40px;
  margin: 10px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Courgette';
}

button:hover{
  border: #247BA0 solid 2px;
  box-shadow: #247BA0 2px 2px 2px;
  color:#247BA0;
}

.create-account-form{
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.create-account-input{
  width: 300px;
  padding: 10px;
  margin: 10px;
}
.search-screen{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.search-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-input{
  margin-right: 20px;
  width: 300px;
}
.state-select{
  text-align: center;
  width: 120px;
}

.restaurantMain{

  margin-top: 50px;
  display: block;
}

.restaurant-header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.addRestaurant{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.resultDisplay{
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  border: black solid 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 20px;
  font-size: 30px;
  background-color: #800000;
  color: white
}

.reviewDisplay{
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 15px;
  border-bottom: black double 2px;
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}